<div class="header">
    <center>
    <div class="headcontainer">
        <ul class="nav nav-pills ">

          <li><a class="homebutton" href="#"></a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">RANKING DE BARRIOS</a></li>
        </ul>
        <ul class="shares">

          <li><img src="/assets/tw.png"></li>
          <li><img src="/assets/fb.png"></li>

        </ul>
    </div>
    </center>
  </div>
<div class="container-narrow">
  <div class="jumbotron">
    <h1>CORRE POR TU BARRIO.</h1>
    <p class="lead">
      QUE TU BARRIO SEA EL QUE MÁS SE MUEVE DE LA CIUDAD.</br>
    SÚMALE KILÓMETROS.
    </p></br>


     <p class="instructions">
      DESCARGA NIKE+ Y CONECTA TUS REDES SOCIALES </br>
      PARA QUE TUS KILÓMETROS CUENTEN.
     </p>
    <p><%= link_to '', 'https://itunes.apple.com/mx/app/nike+-running/id387771637?mt=8', :class => 'btn-nike' %></p>
     <p class="instructions">
      SI YA TIENES NIKE+ INCIA TU SESIÓN
     </p>
    <p><%= link_to '', user_omniauth_authorize_path(:facebook), :class => 'btn-facebook' %>
</p>
    <br>
    <p class="nikelogo">JUST DO IT.</p>
    <img style="        margin-top: -30px;" src="/assets/swosh.png">


    <br>
    <div style="padding-bottom:20%;"> </div>


  </div>
<!-- 


  <div class="footer">
    <p>&copy; Company 2013</p>
  </div> -->

</div> <!-- /container -->
