    <div class="container-narrow">
    	<div class="spacing"> </div>
    	<div class="twitter_log">
    		¿COMPARTES TUS CARRERAS EN TWITTER?<br> <br>
    		    <p>
    		    <%= link_to '', user_omniauth_authorize_path(:twitter), :class => 'btn-twitter' %>
    		    <%= link_to '', 'hood_detail', :class => 'btn-cerrar' %>

    			</p>
    	
    			

    	</div>
	</div>
