@font-face {
  font-family: 'Conv_FuturaStd-CondensedBoldObl';
  src: url('FuturaStd-CondensedBoldObl.eot');
  src: local('☺'), url('FuturaStd-CondensedBoldObl.woff') format('woff'), url('FuturaStd-CondensedBoldObl.ttf') format('truetype'), url('FuturaStd-CondensedBoldObl.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_FuturaStd-CondensedOblique';
  src: url('FuturaStd-CondensedOblique.eot');
  src: local('☺'), url('FuturaStd-CondensedOblique.woff') format('woff'), url('FuturaStd-CondensedOblique.ttf') format('truetype'), url('FuturaStd-CondensedOblique.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'NikeNeon';
	src: url('Nikeneon-Regular.eot');
	src: local('☺'), url('Nikeneon-Regular.woff') format('woff'), url('Nikeneon-Regular.ttf') format('truetype'), url('Nikeneon-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Space out content a bit */
body {
}

/* Everything but the jumbotron gets side spacing for mobile-first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 1600px;
}


.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
    background-image: url('/assets/back.png');
    background-position: center;
    background-repeat: no-repeat;


}
.barrios{
      background-image: url('/assets/back-ladrillos.jpg') !important;
      background-repeat: repeat-y;

}
.profile{
      background-image: url('/assets/back-ladrillos.jpg') !important;
      background-repeat: repeat-y;
      height: 100%;

}
.barrios h1{
      font-family:'Conv_FuturaStd-CondensedBoldObl',Sans-Serif;
      font-size: 65px !important;
      line-height: 75px !important;
}


.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron h1{
      font-family:'Conv_FuturaStd-CondensedBoldObl',Sans-Serif;
      font-size: 53px;
  line-height: 1;
  color: white;
  transform: rotate(-2deg); 
}
.lead {
  line-height: 1.3;
  color: white;
  font-family: 'Conv_FuturaStd-CondensedOblique',Sans-Serif;
  text-transform: uppercase;
  transform: rotate(-2deg); 
  word-spacing: 1px;
  font-smoothing: antialiased;
  font-size: 25px;
}

.instructions{
    line-height: 1.4;
  color: white;
  font-family: 'Conv_FuturaStd-MediumCondensed',Sans-Serif;
  text-transform: uppercase;

  word-spacing: 2px;
  font-size: 18px;  
  font-smoothing: antialiased;

}
.nikelogo{
        font-family:'Conv_FuturaStd-CondensedBoldObl',Sans-Serif;
        color: white;
        transform: rotate(-2deg); 
        font-smoothing: antialiased;
        line-height: 0;
        font-size: 28px;

}

.btn-nike{
  background-image: url('/assets/nike.png');
  width: 182px;
  height: 41px;
  letter-spacing: 82px;
  background-repeat: no-repeat;
  padding: 4px;
	display:inline-block;
  background-size: 100%;  

}
.btn-nike:hover{
  text-decoration: none !important;
  //background-image: url('/assets/nikehover.png');
  background-position: 0 -40px;  
}

.btn-facebook{
  background-image: url('/assets/login-fb.png');
  width: 182px;
  height: 41px;
  letter-spacing: 82px;
  background-repeat: no-repeat;
  padding: 4px;
	display:inline-block;
  background-size: 100%;  

}
.btn-facebook:hover{
  text-decoration: none !important;
  background-position: 0 -40px;
}
.btn-twitter{
  background-image: url('/assets/boton-twitter-normal.png');
  width: 182px;
  height: 35px;
  letter-spacing: 82px;
  background-repeat: no-repeat;
  padding: 4px;
  display:inline-block;
  background-size: 100%;
}
.btn-twitter:hover{
  text-decoration: none !important;
  background-image: url('/assets/boton-twitter-over.png');

}
.btn-cerrar{
  background-image: url('/assets/boton-cerrar-normal.png');
  width: 182px;
  height: 35px;
  letter-spacing: 82px;
  background-repeat: no-repeat;
  padding: 4px;
  display:inline-block;
  background-size: 100%;
}
.btn-cerrar:hover{
  text-decoration: none !important;
  background-image: url('/assets/boton-cerrar-over.png');

}
.neon-a{
  background-image: url('/assets/btn-a.png');
  width: 34px;
  height: 32px;
  background-repeat:no-repeat;
  margin:0 auto;
}
.neon-a:hover{
    background-image: url('/assets/btn-a-on.png');
    cursor: pointer;
	background-repeat:no-repeat;
	margin:0 auto;
  

}
.hoods-select{
margin:0 auto;
max-width:600px;
}
.hood-list li{
	list-style-type:none;
	margin:0;
	padding:0;
	
}
.remove-l{
	clear:both;
}
.neon-up{
  background-image: url('/assets/btn-up.png');
  width: 31px;
  height: 29px;
	background-repeat:no-repeat;
  margin:0 auto;


}
.neon-up:hover{
    background-image: url('/assets/btn-up-on.png');
    cursor: pointer;
	background-repeat:no-repeat;
	
  margin:0 auto;

}

.corre-neon{
	font-family:'NikeNeon',Sans-Serif;
	color:#00d942;
	font-size:42px;
	text-shadow:0 0 #08da48, 0 0 10px #08da48, 0 0 20px #08da48, 0 0 30px #08da48, 0 0 1000px #08da48;
	
    
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}



.twitter_log{
  font-family: 'Conv_FuturaStd-CondensedBoldObl';
  margin: 0 auto;
  max-width: 267px;
  background-image:  url('/assets/frame-rojo.png');
  text-align: center;
  padding:30px 25px 40px 30px;
  font-size: 20px;
  background-repeat: no-repeat;
  font-smoothing: antialiased;
  background-size: 270px 204px;
  margin-right: auto;
  margin-left: auto;
}
.spacing{
  padding-top: 50px;
}
.terms{
  width: 80%;
  color: white;
  background-color: black;
  font-size: 12px;
  height: 400px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    width: 100%;
    position: absolute;

    
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
