/* Move down content because we have a fixed navbar that is 50px tall */
@font-face {
  font-family: 'Conv_FuturaStd-CondensedBoldObl';
  src: url('FuturaStd-CondensedBoldObl.eot');
  src: local('☺'), url('FuturaStd-CondensedBoldObl.woff') format('woff'), url('FuturaStd-CondensedBoldObl.ttf') format('truetype'), url('FuturaStd-CondensedBoldObl.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_FuturaStd-CondensedOblique';
  src: url('FuturaStd-CondensedOblique.eot');
  src: local('☺'), url('FuturaStd-CondensedOblique.woff') format('woff'), url('FuturaStd-CondensedOblique.ttf') format('truetype'), url('FuturaStd-CondensedOblique.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaStd-MediumCondensed';
  src: url('../fonts/FuturaStd-MediumCondensed.eot');
  src: local('☺'), url('../fonts/FuturaStd-MediumCondensed.woff') format('woff'), url('../fonts/FuturaStd-MediumCondensed.ttf') format('truetype'), url('../fonts/FuturaStd-MediumCondensed.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'NikeNeon';
	src: url('Nikeneon-Regular.eot');
	src: local('☺'), url('Nikeneon-Regular.woff') format('woff'), url('Nikeneon-Regular.ttf') format('truetype'), url('Nikeneon-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
  padding-top: 0px;
  padding-bottom: 0px;
}
.title-jumbo{
  padding: 30px;
  line-height: 1;
  color: inherit;
  font-weight: 200;
  font-size: 63px;
  line-height: 1;
  color: inherit;
  font-weight: 500;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Conv_FuturaStd-CondensedBoldObl';
  transform: rotate(-2deg); 

}
.title-jumbo-soon{
    padding: 30px;
  line-height: 1;
  color: inherit;
  font-weight: 200;
  font-size: 53px;
  line-height: 1;
  color: inherit;
  font-weight: 500;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Conv_FuturaStd-CondensedBoldObl';
  transform: rotate(-2deg); 

}
.sub-jumbo{
	font-family: 'Conv_FuturaStd-CondensedOblique';
  font-smoothing: antialiased;
}
.barrioimg{
  width: 150px;
}
.barrioscontainer{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.neon-down{

  background-image: url('/assets/btn-a.png');
  width: 34px;
  height: 32px;
  background-repeat:no-repeat;
  background-size: 34px 32px;
  margin:0 auto;
}

.neon-down:hover{
    background-image: url('/assets/btn-a-on.png');
    cursor: pointer;
  background-repeat:no-repeat;
  margin:0 auto;
  

}
.doit
{
  width: 132px;
  height: 64px; 
}
.corre-btn{
  background-image: url('/assets/corre.png');
  background-size: 146px 55px;
  width:146px;
  height:  55px;
  margin-top:20px;
}
.corre-btn:hover{
    background-image: url('/assets/correhover.png');

}


.neon-up{

  background-image: url('/assets/btn-up.png');
  width: 34px;
  height: 32px;
  background-repeat:no-repeat;
  background-size: 34px 32px;
  margin:0 auto;
}

.neon-up:hover{
  background-image: url('/assets/btn-up-on.png');
  cursor: pointer;
  background-repeat:no-repeat;
  margin:0 auto;
  

}

.shares-social{
width: 200px;
margin-right: auto;
margin-left: auto;
}
.shares-social a{
  text-decoration: none;
}
.share-facebook{
background-image: url('/assets/comparte-normal.png');
width:97px;
height: 37px;
background-size: 97px 37px;
float: right;
}
.share-facebook:hover{
background-image: url('/assets/comparte-over.png');
}
.share-twitter{
background-image: url('/assets/tweet-normal.png');
width:97px;
height: 37px;
background-size: 97px 37px;

}
.share-twitter:hover{
background-image: url('/assets/tweet-over.png');
}
/* AUTOCOMPLETE



*/

  .ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  background-color:black;
  opacity:.9;
  font-family: 'Conv_FuturaStd-MediumCondensed';
  text-align:center;
  font-size:28px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border:transparent;
  text-transform: uppercase;
  font-smoothing: antialiased;


  }
  .ui-menu-item{
    font-size: 15px;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height:200px;
  }



/*

AUTOCOMPLETE

*/




@media screen and (max-width: 400px) {

  .barrioimg{width:120px;}


.title-jumbo{
  font-size: 33px;
  margin-top: 10%;


}
.title-jumbo-soon{
  font-size: 25px;
  margin-top: 10%;


}
.sub-jumbo{
  margin-bottom: 20%;
}
.corre-btn:hover{
    background-image: url('/assets/corre.png');

}

}
